<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <h1>Sample App</h1>
    <p>
      <%= link_to "Home",   root_path %> /
      <%= link_to "Help",   help_path %> /
      <% if logged_in? %>
        <%= link_to "Users", '#' %> / 
        <%= link_to "Profile", current_user %> /
        <%= link_to "Settings", '#' %> /
        <%= link_to "Log out", logout_path, method: :delete %>
      <% else %>
        <%= link_to "Log in", login_path %>
      <% end %>
    </p>
  </div>
</header>
